<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Age</key>
	<array>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>1개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>2개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>3개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>4개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>4개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>5개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>4개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>4개월</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>5개월</string>
		</dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>6개월</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>7개월</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>8개월</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>9개월</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>10개월</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>11개월</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>1살</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>2살</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>3살</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>4살</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>5살</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>5살 이상</string>
        </dict>
	</array>
</dict>
</plist>
