<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weight</key>
	<array>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.1 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.2 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.3 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.4 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.5 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.6 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.7 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.8 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.9 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>1 kg</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>2 kg</string>
		</dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>3 kg</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>4 kg</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>5 kg</string>
        </dict>
        <dict>
            <key>code</key>
            <integer>0</integer>
            <key>name</key>
            <string>6 kg</string>
        </dict>
	</array>
</dict>
</plist>
