<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weight</key>
	<array>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.1</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.2</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.3</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.4</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.6</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.7</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.8</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>0.9</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>2</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>3</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>4</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>5</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>6</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>7</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>8</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>9</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>10</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>11</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>12</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>13</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>14</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>15</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>16</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>17</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>18</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>19</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>20</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>21</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>22</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>23</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>24</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>25</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>26</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>27</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>28</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>29</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>30</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>31</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>32</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>33</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>34</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>35</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>36</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>37</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>38</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>39</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>40</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>41</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>42</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>43</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>44</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>45</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>46</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>47</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>48</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>49</string>
		</dict>
		<dict>
			<key>code</key>
			<integer>0</integer>
			<key>name</key>
			<string>50</string>
		</dict>
	</array>
</dict>
</plist>
